html {
  height: 100%;
  width: 100%;
}
.center {
  text-align: center;
}
div.imagem {
  display:flex;
  justify-content: center;
  align-items: center;
}
.imagem {
  border-radius: 50% 50% 50% 50%;
}
div.video{
    width: 500px;
    margin:0 auto;
    display: block;
}
.bordas{
  border-top-color: black;
  border-top-width: 2px;
  border-top-style: solid;
  border-left-color: black;
  border-left-width: 2px;
  border-left-style: solid;
  border-right-color: black;
  border-right-width: 2px;
  border-right-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}